@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {                     /*reset the default styles of HTML elements*/
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Poppins-Regular,sans-serif;
    background-color: rgb(241, 240, 240);
}

/* styling header */
header nav {
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
}

.logo{
    color: rgb(80, 78, 78);
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    left: 7.9%;
    top: 15px;
}


nav ul li a {
    color: rgb(99, 118, 161);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    color: white;
    background-color: #374EFF;
    filter: brightness(1.2);
    text-decoration: underline;
}

.firstc i {
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 50%;
}

.border {
    border: 2px solid transparent; /* Sets the border width and color */
    padding: 2px; /* Adds some padding to the content */
    width: 100px;
    background-color: #39ff14;
    border-radius: 25px;
    margin-top: 3px;
}
  
.progress-bar {
    position: absolute;
    left: 50%;
    top: 35%;
}

.icon {
    border: 2px solid #27ce0a;
    padding: 0 3px; 
    background-color: white;
    color: #27ce0a;
    border-radius: 50%;
}


.progress-bar ul {
    display: flex;
    align-items: center;
}

.dropdown {
    position: absolute;
    margin-left: 93%;
    margin-top: 25px;
}

header input[type='checkbox'] {
    display: none;
}

#click:checked ~ .dropdown-content {
    display: block;
}
  
.dropdown-content {   
    display: none;
    position: absolute;
    left: -52px;
    background-color: #f1f1f1;
    min-width: 130px;
    height: 325px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.dropdown label {
    cursor: pointer;
}


.dropdown-content input[type="text"]{
    width: 80%;
    padding: 5px;                   /*为指定的attribute加上css*/
    border-radius: 5px;             /*exp: input[type="text"] targets all <input> elements that have a type attribute with a value of text.*/
    height: 25px;
    outline: none;  /* Remove the default blue outline */
    border: none;
}

  
.search-form input[type="text"] {   /*attribute selector, using attribute to style, attribute = "value" */
    padding: 5px;                   /*为指定的attribute加上css*/
    border-radius: 5px;             /*exp: input[type="text"] targets all <input> elements that have a type attribute with a value of text.*/
    height: 25px;
    outline: none;  /* Remove the default blue outline */
    border: none;
}


.search-form {
    margin: 0 auto;
    border: 0.5px solid lightgray;
    background-color: white;
    border-radius: 7px;
    width: 70%;
}
  
.search-form button[type="submit"] {
    background-color: transparent;
    color: gray;    
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

.content:hover {
    cursor: pointer;
    background-color: #ddd;
}

.dropdown-content a {
    color: rgb(64, 53, 119);
}

.search-form i:active {
    color: red;
}
  
/* styling main body */
main form {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 15%;
    left: 110px;
    
}

main input[type=text], input[type=password], input[list="Country"], input[list="Month"], input[list="Year"] { 
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: none;
    border-radius: 2px;
    
}

/* place order button */
main button {
    background-color: #4CAF50;
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

main button:hover {
    filter: brightness(0.8);
}

.text-container {
    margin: 24px 0 12px 0;
}


span.psw {
    float: right;
    padding-top: 5px;
    margin-bottom: 20px;
}



.signup {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 30px;

}





.container2 {
    padding: 16px;
    text-align: center;
}

.last {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}


.signup-icon {
    margin: 30px 0 150px;
}


.signup-icon a:hover {
    filter: brightness(1.2);
}

.last:hover, .psw a:hover {
    color: #fc00ff;
    transition: 0.3s ease;
}

.second-c {
    padding-left: 30px;
}

.f2 {
    top: 80%;
}


/* styling cart summary */
.cart-summary {
    border: 2px solid lightgrey;
    position: absolute;
    left: 870px;
    background-color: white;
    width: 450px;
    top: 29%;
    line-height: 25px;

}

.row1 {
    padding: 20px;
}

hr {
    width: 400px;
    margin-left: 20px;
}

.sub-total {
    margin: 15px 0 10px 270px;
}

aside {
    width: 70%;
}

/* responsive */
@media (max-width: 768px) {
    header nav {
        width: 89em;
    }

}